<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="isInvalid('email')">Email is required and must be valid.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password">
      <mat-error *ngIf="isInvalid('password')">Password is required.</mat-error>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button type="submit" [mat-dialog-close]>Login</button>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
    </div>
  </form>
</mat-dialog-content>
