<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


<div class="col-md-12 footer-content">
    <div>
        <p>2024 © Assessments.com</p>
    </div>
    <div>
        <ul class="footer-icons" style="display: flex; list-style: none; padding: 0;">
            <li style="margin-right: 10px;"><a href="#"><i class="fab fa-facebook fa-lg"></i></a></li>
            <li style="margin-right: 10px;"><a href="#"><i class="fab fa-twitter fa-lg"></i></a></li>
            <li style="margin-right: 10px;"><a href="#"><i class="fab fa-youtube fa-lg"></i></a></li>
            <li style="margin-right: 10px;"><a href="#"><i class="fab fa-instagram fa-lg"></i></a></li>
            <li style="margin-right: 10px;"><a href="#"><i class="fab fa-linkedin fa-lg"></i></a></li>
        </ul>
    </div>
</div>